html {
    background-color: #000621;
}

body {
    margin: 0px;
}

p {
    color: rgb(255, 255, 255);
}

a {
    color: #005392;
    text-decoration: none;
}

a:hover {
    color:#75d5ff;
    /* text-decoration: underline; */
}

.nav {
    display: flex;
    flex-wrap: none;
    align-items: center;
    justify-content: space-around;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px 15px;
    padding: 5px 0px;
    
}

.linktree {
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    margin: 0px;
}

#Avatar {
    margin-top: 20px;
}

.button-container {
    display: grid;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
}

.button {
    background-color:#005392;
    color: rgb(255, 255, 255);
    border-radius: 3px;
    width: 275px;
    height: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 24px;
    transition: 0.4s;
    justify-content: center;
    align-items: center;
    margin: 5px 0px;
}

.button:hover {
    background-color: #0096ff;
}


.button-container > .button > a > .button-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.about-container {
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 2px solid #005392;
    border-radius: 2px;
    width: 250px;
    min-height: 400px;
    padding: 0px 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8em;
}

img {
  border-radius: 50%;
  border: red 3px solid;
  width: 120px;
  height: 110px;
  margin-left: 25%;
  margin-right: 25%;
}

.usa {
    color:red;
}

.footer {
    justify-content: center;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: .3em;
}

.footer a:hover {
    color:#75d5ff;
    text-decoration: underline;
}
